@charset "utf-8";
.container-fluid {
	background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 26.74%,rgba(255,255,255,1.00) 64.87%,rgba(0,0,0,1.00) 100%,rgba(84,45,1,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 26.74%,rgba(255,255,255,1.00) 64.87%,rgba(0,0,0,1.00) 100%,rgba(84,45,1,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 26.74%,rgba(255,255,255,1.00) 64.87%,rgba(0,0,0,1.00) 100%,rgba(84,45,1,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0.00%,rgba(255,255,255,1.00) 26.74%,rgba(255,255,255,1.00) 64.87%,rgba(0,0,0,1.00) 100.00%,rgba(84,45,1,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
	background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 63.01%,rgba(32,32,32,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 63.01%,rgba(32,32,32,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 63.01%,rgba(32,32,32,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 63.01%,rgba(32,32,32,1.00) 100%);
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .nav-link {
	color: #D97205;
}
.container-fluid .container footer {
	color: #FFFFFF;
}

.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
	background-color: #704200;
}
#accordion1 .card #headingOne1 {
	background-color: #5C3500;
}
#accordion1 .card #headingTwo1 {
	background-color: #5C3500;
}
#accordion1 .card #headingThree1 {
	background-color: #5C3500;
	color: #F8F7F7;
}
#headingThree1 .mb-0 .collapsed {
	color: #FFFFFF;
}
#headingTwo1 .mb-0 .collapsed {
	color: #FFFFFF;
}
#headingOne1 .mb-0 a {
	color: #FFFFFF;
}
.container .row .col-lg-3 {
	color: #FFFDFD;
}
.container .row .col-lg-6.offset-lg-0 {
	color: #FFFFFF;
}
.col-lg-4 .card.col-md-4.col-lg-12 .btn.btn-primary {
	background-color: #5C3500;
}
.container-fluid .container .btn.btn-lg {
	background-color: #5C3500;
	color: #FFFFFF;
}
.container #carouselExampleIndicators1 .carousel-inner {
    height: 500px;

}
.container-fluid .container .text-center {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: normal;
}
.container-fluid .container .text-center {
    color: #834400;
}
.container-fluid .container .text-center {
    color: #8E520A;
}
.row .col-lg-6 a {
    color: #000000;
}
.row .col-lg-3 a {
    color: #020202;
}
.container-fluid .container a {
    color: #FCF8F8;
}
table tr td {
    font-style: normal;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    color: #8E520A;
}
.container-fluid .row .col-lg-6.offset-lg-0 {
    color: #FFFFFF;
}
.container-fluid .row .col-lg-6.offset-lg-0 {
}
.row .col-lg-6.offset-lg-5 a {
    color: #060606;
    font-size: 20px;
}
.row .col-lg-6.offset-lg-5 p {
    color: #020202;
    font-size: 20px;
}
.row .col-lg-6 p {
    color: #000000;
    font-size: 20px;
}
.col-lg-6 .text-uppercase.text-center strong {
    color: #000000;
}
.col-lg-6 .text-center strong {
    color: #000000;
}
.col-lg-6.offset-lg-0 blockquote blockquote {
    color: #FFFCFC;
}
.row .col-lg-6.offset-lg-0 blockquote {
    color: #F8EEEE;
}
blockquote blockquote p {
    color: #F9F9F9;
}
blockquote blockquote p {
    color: #FFFFFF;
}
blockquote blockquote p {
    color: #FFFFFF;
}
